node_modules
pharse.json
pharse-done.json 
pharse1.json
pharse1-done.json 
pharse2.json
pharse2-done.json 
pharse3.json
pharse3-done.json 
pharse4.json
pharse4-done.json 
pharses.json
pharses-done.json 
pharses1.json
pharses1-done.json
pharses2.json 
pharses2-done.json 
pharses3.json 
pharses3-done.json
pharses4.json
pharses4-done.json